* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #100e0e;
    padding: 50px;
    margin-top: 20px;
    width: 100%;
    margin-top: auto;
}

main {
    flex: 1; /* Esto hace que el contenido principal ocupe el espacio restante */
  }

h1, h2, h3, p {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-weight: 600;
}

header {
    position: relative;
    background-color: #212529;
    height: 80px;
}

header {
    max-width: 1920px;
    margin: auto;
}

html {
    overflow-x: hidden;
}

nav button {
    margin-top: 10px;
}

.nav-link {
    display: inline;
}

.nav-item {
    margin-top: 7px;
    margin-right: 10px;
}

#imgcarrito {
    width: 35px;
}

#logo {
    background-image: url(/logo_Mesa\ de\ trabajo\ 1.png);
    width: 226px;
    height: 78px;
    background-repeat: no-repeat;
    font-size: 0px;
    position: absolute;
    z-index: 1000;
    left: 40px;
}

#carrito img {
    display: inline-block;
}

.borde {
    border: 1px solid rgb(39, 74, 149);
}

.borde-rojo {
    border: 4px solid rgb(182, 66, 66);
}

.card-producto {
    border: 3px solid rgb(36, 36, 36);
    border-radius: 20px;
    padding: 20px;
    max-width: 21rem !important;
    background-color: #212529;
    color: white;
    margin: 20px auto;
}


#carrito2 {
    text-align: center;
}

.agregar {
    background-color: white;
    color: black;
    height: 40px;
    width: 45%;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    margin-bottom: 20px;
    transition: 500ms;
}

.agregar:hover {
    border: solid 3px #212529;
    color: black;
    transition: 500ms;
}

#restante {
    background-color: rgb(19, 19, 19);
    color: white;
    height: 60px;
    width: 35%;
    border-radius: 82px 82px 82px 82px;
    -webkit-border-radius: 82px 82px 82px 82px;
    -moz-border-radius: 82px 82px 82px 82px;
    padding: 20px;
    margin: auto;
}

#restante p{
    margin: -8px;
    font-size: 1.4rem;
}


.quitar {
    background-color: rgb(19, 19, 19);
    color: white;
    height: 40px;
    width: 45%;
    border-radius: 82px 82px 82px 82px;
    -webkit-border-radius: 82px 82px 82px 82px;
    -moz-border-radius: 82px 82px 82px 82px;
    margin-bottom: 20px;
}

#filtrosDiv {
    text-align: center;
    margin: 80px 0px;
    text-align: center;
}

.filtros {
    cursor: pointer;
}

.filtros p{
    text-align: center;
    color: black;
    cursor: none;
}

#filtrosDiv a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.filtros img {
    max-width: 100px;
    text-align: center;
}

.filtros {
    color: white;
    height: 40px;
    width: 20% !important;
    border-radius: 82px 82px 82px 82px;
    -webkit-border-radius: 82px 82px 82px 82px;
    -moz-border-radius: 82px 82px 82px 82px;
    margin: 0x;
    text-align: center;
}

.oculto {
    display: none;
}

img {
    max-width: 100%;
}

#carrito {
    width: 95%;
    margin-top: 25px;
}

.modal1 {
    background:rgb(182, 66, 66);
    color: white;
    height: 40px;
    width: 100%;
    float: right;
    padding-left: 20px;
    margin-top: -10000px;
    font-size: 1.2em;
    text-align: center;
}

.big {
    border: 2px solid salmon;
    background-color: rgb(0,0,0,0.95);
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
    overflow: auto;
    z-index: 5000;
    padding-bottom: 20px;
}

.oferta {
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    max-width: 1400px;
    height: calc(100% + -80px);
    position: fixed;
    top: 80px;
    text-align: center;
    overflow: auto;
}

.checkout {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1400px;
    height: calc(100% + -80px);
    position: fixed;
    top: 80px;
    text-align: center;
    overflow: auto;
}

.ulDetalle {
    background-color: rgb(19, 19, 19);
    padding: 20px;
}

.ulDetalle li {
    list-style: none;
    text-align: left;
    background-color: #212529;
    color: white;
    padding: 25px;
    margin: 10px 10px;
    position: relative;
}

.ulDetalle img {
    position: absolute;
    right: 10px;
    margin: 0 !important;
    padding: 0 !important;
    top: 6px;
}

.checkout button {
    width: 30%;
    margin: 10px 25px;
}

.imgChica {
    width: 75px;
}

#divTotal {
    background-color: rgb(19, 19, 19) ;
    color: white;
}

footer {
    background-color:rgb(19, 19, 19) ;
    padding: 35px;
    color: white;
}

.divBotones {
    text-align: center;
}

.producto {
    text-align: center;
}

.producto p, h3 {
    text-align: left;
}



.divBotones button {
    margin: 5px;
}

.quitar {
    background-color: #212529 !important;
    border: 2px solid black;
    color: white !important;
}

.divTexto {
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    color: white;
}

figure {   
    margin: 95px 0 0rem;
}

#imgcarrito {
    display: inline;
    z-index: 100000;
    top:20px;
    left: 72%;
}

#imgcarrito p {
    background-color: rgb(176, 27, 27);
    color: white;
    display: inline;
    padding: 3px 10px;
    border-radius: 50% 50%;
}

#barra {
    margin-top: 12px;
    margin-right: 100px;
}

#banner {
    margin-top: -15px;
    position: relative;
}

.fas {
    display: inline;
}

#texto-banner {
    position: absolute;
    color: white;
    top: 90px;
    left: 45px;
    width: 55%;
}

#texto-banner h2 {
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#texto-banner p {
    font-size: 1.6rem;
    font-weight: 500;
}

form {
    border: 1px solid black;
    padding: 10px;
}

form > div {
    width: 40%;
    margin: 20px;
    display: inline-block;
    padding: 0;
}

form input {
    padding: 10px;
    width: 100%;
}

form select {
    width: 80%;
    margin: 20px;
}

form button {
    width: 30% !important;
    margin: 20px;
}

#importe {
    text-align: center !important;
}

#importe h3 {
    text-align: center !important;
}

#importe p:last-child {
    font-size: 2rem;
}

#verCarrito {
    width: 30% !important;
    margin: 70px 0;
}

.pError {
    color:red;
    margin: 0 ;
    position: absolute;
}

.oferta img {
    margin-top: -60px !important;
}

.navbar-toggler {
    margin-top: 12px;
}

#nosotros {
    padding: 4em;
    margin-bottom: 3em;
}

#nosotros p {
    font-size: 1.2em;
    padding-right: 20px;
}

#nosotros h2 {
    font-size: 3em;
    font-weight:700;
    text-align: center;
    margin-bottom: 1.2em;
}

#nosotros .col-md-6:last-child {
    background-image: url('/fondo-1.jpg');
    background-size: cover;
}

#contacto {
    background-color: #212529;
    color: white;
    padding: 7em;
    background-image: url(/fondo-contacto.png);
    background-size:contain;
}

#contacto form {
    background-color: #212529;
    border-radius: 8px;
    box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.57);
    -webkit-box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.57);
    -moz-box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.57);
    padding: 30px;
    padding-top: 50px;
}

#contacto .redes {
    background-color: #212529;
    border-radius: 8px;
    box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.57);
    -webkit-box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.57);
    -moz-box-shadow: 9px 10px 5px -3px rgba(0,0,0,0.57);
    border: 1px solid black;
    padding: 30px;
}

#contacto h2 {
    text-align: center;
    font-size: 3em;
}

#contacto i {
    font-size: 30px;
    padding-top: 60px;
}

#contacto h3 {
    padding-top: 20px;
    margin-bottom: 15px;
}

.textarea-form {
    width: 100%;
    margin: auto;
}

footer {
    text-align: center;
}

@media screen and (max-width:1115px) {
    #imgcarrito {
        left:67%;
    }
    #texto-banner h2 {
        font-size: 3rem;
    }
    
    #texto-banner p {
        font-size: 1.2rem;
    }

    figure {   
        margin: 105px 0 0rem;
    }

    #texto-banner {
        top: 80px;
        left: 50px;
        width: 70%;
    }

    #banner {
        margin-top: -25px;
    }
}
@media screen and (max-width: 991px) {
    #logo {
        left: 20px;
        background-image: url(logo-taste.svg);
        width: 90px;
        height: 102px;
        background-repeat: no-repeat;
        font-size: 0px;
        position: absolute;
        z-index: 1000;
    }

    .divBotones button {
        width: 100% !important;
        margin: 10px 0;
    }

    #texto-banner h2 {
        font-size: 3rem;
    }
    
    #texto-banner p {
        font-size: 1.2rem;
    }

    figure {   
        margin: 105px 0 0rem;
    }

    #texto-banner {
        top: 40px;
        left: 50px;
        width: 70%;
    }

    #imgcarrito {
        left: 20px;
        top:30px;
    }

    #barra {
        margin-top: 65px;
        margin-right: 20px;
    }

    .filtros{
        width: 30% !important;
        margin: 20px 10px;
    }

    form > div {
        width: 80%;
        margin: 20px;
        display: inline-block;
        padding: 0;
    }

    .borde-verde {
        border: 3px solid rgb(36, 36, 36);
        padding: 20px;
        max-width: 21rem;
    }

    #restante{
        width: 80%;
    }

    
    #barra {
        margin-top: 24px !important;
    }

    .checkout button {
        width: 100%;
        margin:10px 0;
    }

    .nav-item {
        margin-top: 0px;
        margin-right: 10px;
    }

}

@media screen and (min-width: 769px) and (max-width: 990px) {
    .borde-verde {
        border: 3px solid rgb(36, 36, 36);
        padding: 20px;
        width: 21rem;
    }
}

@media screen and (max-width:768px) {
    #texto-banner h2 {
        font-size: 2.25rem;
    }
    
    #texto-banner p {
        font-size: 1.2rem;
    }

    #texto-banner {
        top: 30px;
        left: 30px;
        width: 90%;
    }

    .filtros{
        width: 100% !important;
        margin: 20px 0;
    }

    .borde-verde {
        border: 3px solid rgb(36, 36, 36);
        padding: 20px;
        max-width: 21rem;
    }

    .oferta img {
        max-height: 510px;
        margin-top: -80px !important;
    }

    #restante {
        margin-top: -25px;
        position: absolute;
        z-index: 50000;
        left: 60px;
    }

    #barra {
        margin-top: 50px !important;
    }

    #verCarrito {
        width: 50% !important;
        margin: 70px auto;
    }

    .filtros {
        width: 100% !important;
        margin: 20px 0;
        margin-bottom: 90px;
    }

}

@media screen and (max-width: 576px) {
    .divBotones button {
        width: 100% !important;
        margin: 0;
    }

    #logo {
        left: 10px;
        background-image: url(taste-cel_2.png);
        width: 109px;
        height: 80px;
        background-repeat: no-repeat;
        font-size: 0px;
        position: absolute;
        z-index: 1000;
        margin-top: 10px;
    }

    #carrito div button {
        margin-bottom: 10px;
    }

    #banner{
        background-image: url(banner-cel.jpg);
    }

    #texto-banner h2 {
        font-size: 2rem;
    }
    
    #texto-banner p {
        font-size: 1.3rem;
    }

    #texto-banner {
        top: 40px;
        left: 0px;
        text-align: center;
        width: 100%;
    }

    .filtros img {
        max-width:60px;
        text-align: center;
    }

    form button {
        width: 100% !important;
        margin: 20px;
    }

    form {
        padding: 10px;
    }

    .borde-verde {
        max-width: 24rem;
    }

    #restante{
        width: 100%;
        left: 0;
    }

    .ulDetalle img {
        position: absolute;
        right: 1px;
        margin: 0 !important;
        padding: 0 !important;
        top: 25px;
        width: 80px !important;
    }

    .ulDetalle li {
        list-style: none;
        text-align: left;
        background-color: #212529;
        color: white;
        padding: 30px;
        margin: 10px 10px;
        position: relative;
    }

    .ulDetalle p {
        width: 60%;
    }

    #nosotros {
        padding: 10px;
        margin-top: 3em;
    }

    #nosotros h2 {
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1em;
    }

    #nosotros img {
        max-width: 120px;
    }

    #contacto {
        background-color: #212529;
        color: white;
        padding: 3em 0em;
        background-image: url(/fondo-contacto.png);
        background-size: contain;
    }

    #contacto h2 {
        text-align: center;
        font-size: 2em;
    }

    #contacto form {
        background-color: #212529;
        border-radius: 8px;
        padding: 10px;
        padding-top: 50px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 445px) {
    #texto-banner h2 {
        font-size: 2.3rem;
    }
    
    #texto-banner p {
        font-size: 1.2rem;
    }

    #texto-banner {
        top: 50px;
        left: 0px;
        text-align: center;
        width: 100%;
    }

    #restante p{
        font-size: 1.2rem;
    }

    .ulDetalle img {
        top: 30px;
    }

    #nosotros img {
        max-width: 150px;
        margin: auto;
    }

    #contacto .redes {
        width: 95%;
        margin: auto;
    }

    form > div {
        width: 100%;
        margin: auto;
        padding: 10px;
    }

}

@media screen and (max-width: 390px) {

    #texto-banner p:nth-child(4){
        display: none;
    }
}